<div class="content">
    <div [ngClass]="{'hide':accesoModo}"  class="contenedor">
        <div  class="info">
            <div class="info-detalle">
                <img src="/assets/img/uta.png" alt="">
                <h2>Bienvenido</h2>
                <p>Para acceder a nuestros beneficios porfavor Inicia sessión</p>
                <input type="button" (click)="cambiarAcceso()" value="Iniciar Sesión">
            </div>
        </div>
        <div class="form-info">
            <div class="form-info-detalle">
                <h2>Datos de registro</h2>
                <form class="form">
                    <label for="name">
                        <i class="fa-regular fa-user"></i>
                        <input type="text" name="name" placeholder="Nombre" id="name" [(ngModel)]="dataRegister.name" >
                    </label>
                    <label for="emailr">
                        <i class="fa-regular fa-envelope"></i>
                        <input type="email" name="emailr" placeholder="Correo Electrónico" id="emailr" [(ngModel)]="dataRegister.email">
                    </label>
                    <label for="passr">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" name="passr" placeholder="Contraseña" id="passr" [(ngModel)]="dataRegister.password">
                    </label>

                    <input type="button"(click)="registrar(dataRegister)" value="Registrarse">
                    
                </form>
            </div>
        </div>
    </div>
    <div [ngClass]="{'hide':!accesoModo}"  class="contenedor">
        <div class="info">
            <div class="info-detalle">
                <img src="/assets/img/uta.png" alt="">
                <h2>Bienvenido</h2>
            </div>
        </div>
        <div class="form-info">
            <div class="form-info-detalle">
                <h2>Datos de Sesión</h2>
                <form class="form">
                    <label for="email">
                        <i class="fa-regular fa-envelope"></i>
                        <input type="email" name="email" placeholder="Correo Electrónico" id="email"[(ngModel)]="dataLogin.email">
                    </label>
                    <label for="pass">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" name="pass" placeholder="Contraseña" id="pass"[(ngModel)]="dataLogin.password">
                    </label>
                    <input type="button"  (click)="ingresar(dataLogin)" value="Ingresar">
                    <div class="toolbar-spacer"></div>
                    <p>Identifíquese usando su cuenta en:</p>
                    <input type="button"  *ngIf="!loginDisplay" (click)="login()" value="Microsoft Office 365">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
    <router-outlet *ngIf="!isIframe"></router-outlet>
  </div>