.content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: black;
    color: rgb(255, 255, 255);
}
.logo  {
    display: flex;
    align-items: center;
    padding: 1px 5px;
    margin: 0 5px;
    font-size: 11px;
    
}
.img-logo{
    padding: 3px 5px;
    font-size: 25px;
}
.logo h3{
    box-shadow: 0px 3px 0px 0px  rgb(150, 136, 75);
}
.titulo h2{
    font-size: 25px;
    color:rgb(150, 136, 75);
}
.iconos{
    margin: 0 15px;
    display: flex;
    align-items: center;
    font-size: 25px;
}
.menu-mobil{
    display: none;
}