<p-dialog (onHide)="hideDialog()" header="Usuarios" [(visible)]="visible" [style]="{ width: '70vw' }">
    <p-splitter [style]="{ height: '300px' }" styleClass="mb-5">
      <ng-template pTemplate="left">
        <div class="panel-left">
          <div class="head">
            <h3>Facultades no asignadas</h3>
          </div>
          <div class="content">
            <p-card>
              <div class="card" *ngFor="let faculty of unfaculties">
                <div class="row">
                  <p>{{ faculty.Nombre }}</p>
                  <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-info"
                    (click)="addCareerManage(faculty)"></button>
                </div>
              </div>
            </p-card>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="right">
        <div class="panel-right">
          <div class="head">
            <h3>Facultades asignadas</h3>
          </div>
          <div class="content">
            <p-card>
              <div class="card" *ngFor="let faculty of faculties">
                <div class="row">
                  <p>{{ faculty.Nombre }}</p>
                  <button pButton pRipple icon="pi pi-minus" class="p-button-rounded p-button-warning"
                    (click)="minusCareerManage(faculty)"></button>
                </div>
              </div>
            </p-card>
          </div>
        </div>
      </ng-template>
    </p-splitter>
  </p-dialog>
  

