<div class="content">
    <div class="content-left">
        <div class="filter">
            <div class="card flex justify-content-center">
                <p-dropdown [options]="facultades" [(ngModel)]="selectedFacultad" optionLabel="Nombre"
                    [showClear]="true" placeholder="Select a City"></p-dropdown>
                <button pButton pRipple icon="pi pi-arrow-right" class="p-button-rounded p-button-info"
                    (click)="obtenerCarreras()"></button>
            </div>
            <div class="card flex justify-content-center" *ngIf="carreras">
                <p-dropdown [options]="carreras" [(ngModel)]="selectedCarrera" optionLabel="Nombre" [showClear]="true"
                    placeholder="Select a City"></p-dropdown>
                <button pButton pRipple icon=" pi pi-arrow-right" class="p-button-rounded p-button-info"
                    (click)="obtenerEstudiantes()"></button>
            </div>
        </div>
        <div class="table" *ngIf="estudiantes">
            <p-table #dt [value]="estudiantes" [rows]="10" [paginator]="true"
                [globalFilterFields]="['Cedula', 'Nombre','Apellido']" [tableStyle]="{ 'width': '100%' }"
                [(selection)]="selectedEstudiante" [rowHover]="true" dataKey="Id"
                currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} registros"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                        <h4 class="m-0">Lista de estudiantes de la carrera {{selectedCarrera.Nombre}}</h4>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input #buscar pInputText type="text" (input)="dt.filterGlobal(buscar.value, 'contains')"
                                placeholder="Buscar..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="code">Cedula <p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="lastname">Apellido <p-sortIcon field="lastname"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row>
                    <tr>
                        <td>{{ row.Cedula }}</td>
                        <td>{{ row.Nombre }}</td>
                        <td>{{ row.Apellido }}</td>
                        <td class="iconos">
                            <div class="buttonRounded" (click)="gestionarArchivos(row)"><i
                                    class="fa-solid fa-folder-tree"></i>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between"></div>
                </ng-template>
            </p-table>
        </div>
    </div>

    <div class="content-right">
        <div class="cabecera"></div>
        <div class="contenidoUp">
            <div class="plantillas">
                <h4 class="m-0" *ngIf="selectedCarrera">Plantillas disponibles de la carrera {{selectedCarrera.Nombre}}
                </h4>
                <h4 class="m-0" *ngIf="selectedEstudiante">Estudiante: {{selectedEstudiante.Nombre}}</h4>
                <div class="plantilla" *ngFor="let row of plantillas">
                    <div class="nombre">
                        {{row.Nombre}}
                    </div>
                    <div class="buttonRounded" (click)="verCarpetas(row)"><i class="fa-solid fa-chevron-right"></i>
                    </div>

                </div>
            </div>
            <div class="carpetas">
                <h4 class="m-0" *ngIf="selectedPlantilla">Carpetas de la plantilla: {{selectedPlantilla.Nombre}}</h4>
                <div class="carpeta" *ngFor="let row of carpetas">
                    <div class="nombre">
                        {{row.NombreCarpeta}}
                    </div>
                    <div class="buttonRounded" (click)="verArchivos(row)"><i class="fa-solid fa-chevron-right"></i>
                    </div>

                </div>
            </div>

        </div>
        <div class="contenidoDown">
            <div class="archivos" *ngIf="vistaArchivo">
                <h4 class="m-0" *ngIf="selectedCarpeta">Archivos de la carpeta: {{selectedCarpeta.NombreCarpeta}}</h4>
                <div   *ngIf="cargaArchivo">
                    <input class="file" type="file" (change)="onArchivoSeleccionado($event)">
                    <button pButton pRipple icon=" pi pi-upload" class="p-button-rounded p-button-info"
                    (click)="subirArchivo()"></button>
                    
                </div>
                <div class="archivo" *ngFor="let row of listaArchivos">
                    <div class="nombreArchivo">{{row.NombreArchivo}}</div>
                    <div class="opciones">
                        <div class="buttonRounded" (click)="descargarArchivo(row.Id)" *ngIf="descargaArchivo"><i
                                class="fa-solid fa-download"></i>
                        </div>
                        <div class="buttonRounded" (click)="eliminarArchivo(row.Id)" *ngIf="eliminaArchivo"><i
                                class="fa-solid fa-trash-can"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>