.icono-menu{
    margin: 10px;
    text-align: right;
    font-size: 25px;
    
}
.content-item{
    display: flex;
    color: white;
    height: 5vh;
    padding: 5px;
    padding-left: 10px;
    justify-content: start;
    align-items: center;
    border-bottom: 0.1px solid white;
}
.content-item:hover{
    background-color:var(--color-menu);
}
.content-item i{
    padding-left: 15px;
}
.content-item .texto{
    margin: 0 15px;
}
 .texto spam{
    margin: 0 15px;
}
.seleccionado{
    background-color: var(--color-menu);
}
.contraer{
    display: none;
}