<div class="card">
    <p-toast></p-toast>
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2 btnNuevo"
                (click)="openNew()"></button>
        </ng-template>


    </p-toolbar>

    <p-table #dt [value]="listData" [rows]="10" [paginator]="true" [globalFilterFields]="['name', 'email']"
        [tableStyle]="{ 'min-width': '75rem' }" [(selection)]="selectedListData" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} registros"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Gestión de Registros</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input #buscar pInputText type="text" (input)="dt.filterGlobal(buscar.value, 'contains')"
                        placeholder="Buscar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name" style="min-width:15rem">Nombre <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="email" style="min-width:15rem">Email <p-sortIcon field="email"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.email }}</td>
                <td>
                    <button pButton pRipple icon="pi pi-building" class="p-button-rounded p-button-info"
                        (click)="asignedManager(row)"></button>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                        (click)="edit(row)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteRow(row)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between"></div>
        </ng-template>
    </p-table>
</div>
<ng-container *ngIf="mostrar">
    <app-form-manage-admin [data]="data" [dataDialog]="dataDialog" (onClick)="hideDialog()"></app-form-manage-admin>
</ng-container>
<ng-container *ngIf="mostrarFacultades">
    <app-manage-user-admin
     [visible]="visible" 
     [data]="data"
     (onClick)="hideDialogManage()">
    </app-manage-user-admin>
</ng-container>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>